body {
  font-family: "Roboto", sans-serif;
  line-height: 25px;
}

.menu__title h3 {
  font-family: "Shrikhand", sans-serif;
  font-size: 25px;
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

* {
  text-decoration: none;
}

a {
  color: black;
}

/* colors */
.fa-heart {
  font-size: 25px;
}

.fa-solid.fa-heart {
  font-size: 28px;
  opacity: 0;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
.fa-solid.fa-heart:hover {
  transition: 300ms;
  opacity: 1;
}

.loader {
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  background-color: #fff;
  opacity: 0.9;
  height: 100vh;
  inset: 0;
  animation: slide-out-fwd-center 0.7s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation-delay: 3s;
}
.loader img {
  animation: rotate-out-center 0.6s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation-delay: 3s;
}
.loader__lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loader__lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #272323;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loader__lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.loader__lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.loader__lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.loader__lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
@keyframes loader {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide-out-fwd-center {
  0% {
    -webkit-transform: translateZ(1);
    transform: translateZ(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0;
  }
}
@keyframes rotate-out-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: 0;
  }
}
.menu__cards {
  animation: anim_menu 2s;
}

.menu__cards:nth-child(1) {
  animation-delay: 100ms;
}

.menu__cards:nth-child(2) {
  animation-delay: 200ms;
}

.menu__cards:nth-child(3) {
  animation-delay: 300ms;
}

@keyframes anim_menu {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0px 0px 20px 0px #000000, -1px 26px 17px -10px rgba(0, 0, 0, 0);
  padding-top: 15px;
  padding-bottom: 10px;
}
header i {
  position: relative;
  left: -50px;
}
header img {
  height: 80%;
}

footer {
  background-color: #353535;
  padding-bottom: 35px;
}

.footer__items {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  padding-top: 30px;
}
.footer__items a {
  color: white;
  font-size: 13px;
  font-weight: bold;
}
.footer__items a i {
  padding-right: 10px;
}
.footer__items a img {
  width: 115px;
  filter: invert(100%);
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: #eaeaea;
  box-shadow: inset -2px 2px 7px 1px #cfcfcf;
}
.location p {
  padding: 16px;
}

.explorer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
}
.explorer__title {
  text-align: center;
  font-size: 23px;
  font-weight: bolder;
  padding-top: 35px;
  padding-left: 60px;
  padding-right: 60px;
}
.explorer__description {
  text-align: center;
  font-size: 18px;
  opacity: 0.7;
  padding-top: 10px;
  padding-bottom: 25px;
}
.explorer__button {
  color: white;
  font-size: 15px;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  box-shadow: 3px 4px 7px 1px #cfcfcf;
  border-radius: 30px;
  padding: 15px 25px 15px 25px;
  margin-bottom: 50px;
}
.explorer__button:hover {
  opacity: 0.7;
}

.fonctionnement {
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}
.fonctionnement__title {
  font-size: 23px;
  font-weight: bold;
  padding-bottom: 30px;
}
.fonctionnement__items {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: visible;
  background-color: #f6f6f6;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 3px 4px 7px 1px #cfcfcf;
}
.fonctionnement__items:hover {
  background-color: #e4d5f6;
}
.fonctionnement__items:hover i {
  color: #9356DC;
}
.fonctionnement span {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  left: -30px;
  color: white;
  height: 25px;
  width: 25px;
  background-color: #9356DC;
  border-radius: 50%;
}
.fonctionnement i {
  font-size: 20px;
  color: #7e7e7e;
}
.fonctionnement p {
  padding-left: 20px;
  font-weight: bold;
}

.restaurants {
  padding-top: 60px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
}
.restaurants__title {
  font-size: 23px;
  font-weight: bold;
  padding-bottom: 30px;
}
.restaurants__card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  border-radius: 15px;
  background-color: white;
  box-shadow: 3px 4px 7px 1px #cfcfcf;
  margin-bottom: 20px;
  width: 100%;
}
.restaurants__card__span {
  position: absolute;
  font-size: 15px;
  font-weight: Bold;
  color: #008766;
  background-color: #99e2d0;
  border-radius: 2px;
  padding: 5px 10px 5px 10px;
  right: 15px;
  top: 20px;
}
.restaurants__card__img {
  object-fit: cover;
  width: 100%;
  border-radius: 14px 14px 0 0;
  height: 170px;
}
.restaurants__card__text {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  padding-left: 10px;
  padding-bottom: 15px;
}
.restaurants__card__text__title {
  font-size: 17px;
  font-weight: bold;
}
.restaurants__card__text__heart {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
}

main {
  background-color: #f6f6f6;
}

.banner img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.menu {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -60px;
  border-radius: 30px 30px 0px 0px;
  background-color: #f6f6f6;
  padding-left: 20px;
  padding-right: 20px;
}
.menu__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}
.menu__title i {
  font-size: 25px;
}
.menu__cards {
  display: flex;
  flex-direction: column;
}
.menu__cards__title {
  text-transform: uppercase;
  padding-top: 40px;
  padding-bottom: 10px;
}
.menu__cards__title span {
  border-bottom: solid 3px #99E2D0;
}
.menu__cards__meals {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  overflow: hidden;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow: 3px 4px 7px 1px #cfcfcf;
  border-radius: 15px;
  margin-bottom: 15px;
  height: 80px;
  width: 350px;
}
.menu__cards__meals__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
}
.menu__cards__meals__content__title {
  font-weight: bold;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__cards__meals__content__description {
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__cards__meals__price {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-weight: bold;
  padding-bottom: 15px;
  padding-right: 15px;
}
.menu__cards__meals__check {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  color: white;
  font-size: 30px;
  height: 100%;
  width: 30%;
  margin-right: -93px;
  transition: all 0.7s;
}
.menu__cards__meals:hover .menu__cards__meals__check {
  margin-right: 0px;
}
.menu__cards__meals:hover .menu__cards__meals__check .fa-circle-check {
  -webkit-animation: rotate-center 0.6s ease-in-out both;
  animation: rotate-center 0.6s ease-in-out both;
}

.menu__category {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.commander {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .fonctionnement {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .fonctionnement__title {
    width: 100%;
  }

  .restaurants {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .restaurants__title {
    width: 100%;
  }
  .restaurants__card {
    width: 300px;
  }

  .menu__category {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
