@mixin nouveau {
    display: block;
    font-size: 15px;
    font-weight: Bold;
    color: #008766;
    background-color: #99e2d0;
    border-radius: 2px;
    padding: 5px 10px 5px 10px;
    margin-top: 15px;
    right: 7%;
    position: absolute
}