footer {
    background-color: $color-footer;
    padding-bottom: 35px;
}

.footer__items {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    padding-top: 30px;
    & a {
        color: white;
        font-size: 13px;
        font-weight: bold;
        & i {
            padding-right: 10px;
        }
    }
    & a img {
        width: 115px;
        filter: invert(100%);
    }
}