.fa-heart {
    font-size: 25px;
}

.fa-solid.fa-heart {
    font-size: 28px;
    opacity: 0;
    background: linear-gradient($color-secondaire, $color-primaire);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    &:hover {
        transition: 300ms;
        opacity: 1;
    }
}