main {
    background-color: $color-background;
}

.banner {
    & img {
        height: 250px;
        width: 100%;
        object-fit: cover;
    }
}

.menu {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -60px;
    border-radius: 30px 30px 0px 0px;
    background-color: $color-background;
    padding-left: 20px;
    padding-right: 20px;
    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 30px;
        & i {
            font-size: 25px;
        }
    }
    &__cards {
        display: flex;
        flex-direction: column;
        &__title {
            text-transform: uppercase;
            padding-top: 40px;
            padding-bottom: 10px;
            & span {
                border-bottom: solid 3px $color-tertiaire;
            }
        }
        &__meals {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: white;
            overflow: hidden;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            @include box-shadow;
            border-radius: 15px;
            margin-bottom: 15px;
            height: 80px;
            width: 350px;
            &__content {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
                padding-top: 15px;
                padding-left: 15px;
                padding-bottom: 15px;
                &__title {
                    font-weight: bold;
                    width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                &__description {
                    font-size: 13px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            &__price {
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                font-weight: bold;
                padding-bottom: 15px;
                padding-right: 15px;
            }
            &__check {
                @include flex-center;
                background-color: $color-tertiaire;
                border-radius: 0px 15px 15px 0px;
                color: white;
                font-size: 30px;
                height: 100%;
                width: 30%;
                margin-right: -93px;
                transition: all 0.7s;
            }
            &:hover &__check {
                margin-right: 0px;
                .fa-circle-check {
                    animation: rotate-center 0.6s ease-in-out both;
                }
            }
        }
    }
}

.menu__category {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.commander {
    @include flex-center;
}